<div class="row">
  <div class="large-10 columns">
  <p>Thank you for you interest in funding a scholarship! Please let us know as much about the scholarship as possible (targeted population, deadline, amount). We will contact you shortly about publishing the scholarship and what other information we need from you.</p>

  <%= render "form" %>
</div>
</div>