<div class="row">
<div class="large-12 columns">
<% @scholarships.each do |scholarship| %>
  <% if scholarship.published_flag && !scholarship.expired? %>
    <div class="scholarbox">
    <h3><a href="<%= url_for campaign_home_path(scholarship) %>" class="campaign clearfix">
      <%= scholarship.name %></h3></a>
      <%= raw(scholarship.main_content) %>
      </div>
  <% end %>
<% end %>
</div>
</div>



      
<style>

.scholarbox{
  width:50%;
  float:left;
  padding:25px;
}

</style>