<div id="header">
  <div class="row">
    <div class="large-6 columns">
      <a href="/"><h1 id="logo">{devocracy logo}</h1></a>
    </div>
    <div class ="main-menu large-6 columns">
      <ul>

        <li><%= link_to "Create Scholarship", new_admin_campaign_path  %></li>
        <li><%= link_to "Find Scholarship", admin_campaigns_path %></li>
        <li><%= link_to "Browse Bootcamps", bootcamps_path %></li>
      </ul>
    </div>
  </div>
</div>

<style>

.main-menu {margin-top:0px;}
.main-menu li{
  display:inline-block;
  padding:5px;
  background-color: grey;
  width:150px;
  height:100px;
  color:white;
  text-shadow:none;
}

div#header {
  background-color: #945823;
  border-radius: 0px 0px 10px 10px;
}

#homepage div.container {
background-color: white;
  
}

#logo {color:#FB7D18;text-shadow:none;}

</style>

