<div id="header">
  <div class="row">
    <div class="large-6 columns">
      <a href="/"><h1>{devocracy logo}</h1></a>
    </div>
    <div class ="main-menu large-6 columns">
      <ul>
        <li>MENU ITEM 1</li>
        <li><%= link_to "SCHOLARSHIPS", scholarships_path %></li>
        <li>MENU ITEM 3</li>
      </ul>
    </div>
  </div>
</div>

<style>

.main-menu {margin-top:30px;}
.main-menu li{
  display:inline;
  padding:5px;
  background-color: white;
  width:150px;
  height:200px;
}
</style>