<div id="header">
  <div class="row">
    <div class="large-6 columns">
      <a href="/"><h1 id="logo"><%= image_tag("header_logo.png") %></h1></a>
    </div>
  </div>
  <div class="row">
    <div class ="main-menu large-12 columns">
      <ul>
        <li><%= link_to "About Us", root_path%></li>
         <li><%= link_to "FAQ", root_path %></li>
          <li><a href=# data-dropdown="hover1" data-options="is_hover:true">Scholarships</li>
          <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li><a href="#">View scholarships</a></li>
          <li><a href="#">Add a scholarship</a></li>
          <li><a href="#">Yet another</a></li>
          </ul>
        <li><a href=# data-dropdown="hover2" data-options="is_hover:true">Bootcamps</li>
        <ul id="hover2" class="f-dropdown" data-dropdown-content>
          <li><a href="#">Bootcamp Directory</a></li>
          <li><a href="#">Add a bootcamp</a></li>
          </ul>
       
      </ul>
    </div>
  </div>
</div>

<style>

</style>

