<div class="row">
  <div class="large-10 columns"><h2>Add a software dev program</h2>
<p>Thanks for wanting to add your program to our directory. After you submit this form, we'll review your information and get your program posted as soon as we can.</p>
  </div>
</div>
<div class="row">
  <div class="large-10 columns">
    <%= render "form" %>
  </div>
</div>