<h1>Statistics</h1>
<div id="statsbox"></div>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script>

var dataset = <%= raw(@bootcamps.to_json) %> ;


var svgw = 900
var svgh = 900

var svg = d3.select("#statsbox")
        .append("svg")
        .attr("width", svgw)
        .attr("height", svgh);

svg.selectAll("circle")
   .data(dataset)
   .enter()
   .append("circle")
   .attr("cx", function(d, index) { return d.hours/2 })
   .attr("cy", function(d) { return d.tuition/100; })
   .attr("r", 20)
   .attr("data-primary_language", function(d){
    return d.primary_language
   })
   .attr("opacity", ".5");

$("[data-primary_language='ruby']").attr("fill", "red")
$("[data-primary_language='javascript']").attr("fill", "blue")


</script>

