<div class="row"><div class="large-10 columns"><h2>FAQ<h2></div></div>
<div class="row"><div class="large-10 columns">
<h3>What is Devocracy?</h3>
<p>Devocracy helps you find or fund scholarships for development bootcamps around the world. It's an answer to the broken student loans system, and our way of empowering the next generation with the skills that companies are searching for. We created it as our final project for one of <a href="http://www.bitmakerlabs.com">these programs</a>, as a way to increase the ability of others to take advantage of the same opportunity we were offered.</p>
  
<h3>What is a Development Bootcamp?</h3>

<p>A development "bootcamp" is typically a condensed, intense training program lasting two-six months, though there are exceptions. During such a program, you might expect to learn a back-end programming language as well as front-end technologies. Some programs focus on specialized areas: data science, mobile development, or how to launch a startup. These programs have risen to meet the needs of a rapidly growing IT sector. The demand for developers is so high that some are estimating it will be another fourteen years before the gap in employment is filled. We see these intense training program and the apprenticeship model as a way of bridging this gap, and want to make it available to as many people as possible.</p>

<h3>Is there a directory of these programs?</h3>

<p>Yes! In addition to crowdfunding scholarships, we aim to keep an up to date directory of all software devlopment intensives <a href=<%= bootcamps_path %>>here</a>. 
  
<h3>How does Devocracy work?</h3>

<p>At the moment, a program creates a scholarship and opens it up for collaborative funding. That means that you, or anyone else, can pitch in to help fund the scholarship. Once the goal amount of the scholarship is met, the bootcamp selects a scholarship applicant to receive funding.</p>


<h3>Can anyone create a scholarship?</h3>
<p>Not yet. Right now we only offer support for software training programs to <a href=<%= new_scholarship_path %>>create scholarships</a>. We'll be adding individual scholarship support in the future, so if you'd like to be notified just sign up here!</p>

<h3>What if the scholarship goal isn't met?</h3>
<p>If the goal isn't met by the due date, then no one is charged. All the money goes right back to the pledgers.</p>

<h3>What if the scholarship goal is exceeded?</h3>
<p>Then it's time to celebrate! Perhaps do a little victory dance?

Ultimately, this is up to the program who has created the scholarship, but we suggest that the extra money go toward a second round of scholarship funding for another student.</p>
</div></div>