// Place all the styles related to the bootcamps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mapcontainer {
    margin:2%;
    padding:20px;
    border:2px solid #d0d0d0;
    border-radius: 5px;
  }
  
#tag_cloud {
  background-color:black;
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.tooltip {   
  color: tomato;
  position: absolute;           
  text-align: center;           
  width: 200px;                  
  height: 100px;                 
  padding: 5px;             
  font: 20px sans-serif;        
  background: lightsteelblue;   
  border: 1px dashed white;      
  border-radius: 8px;
  opacity: 0.8; 
}

